= small_box("Edit #{resource_name.to_s.humanize}") do
  - semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
    = devise_error_messages!
    - f.inputs do
      = f.input :email
      = f.input :password, :hint => "(leave blank if you don't want to change it)"
      = f.input :password_confirmation
      = f.input :current_password, :hint => "(enter current password to confirm changes)"
    - f.buttons do
      = submit_button("#{image_tag("tick.png")} Update")
