-#= main_box("Search") do
  = render "search_form"

= main_box("Games") do
  %ul.gameList
    = render :partial => "game_list_item", :collection => @games, :spacer_template => "shared/line_seperator"
  .clear
  = will_paginate @games

= content_for :sidebar do
  - if user_signed_in?
    - if current_user.is_admin?
      .block
        %h3 Admin Panel
        %ul.navigation
          %li= link_to("Manage Game Metadata", "#")
    .block
      %h3 My Games
      %ul.navigation
        %li= link_to("Create New Game", new_game_path)