= main_box(@game.name, "gameInfo") do
  = game_info(@game)
  .gameDescription
    :markdown
      #{@game.description}

= content_for :sidebar do
  = game_navigation(@game)
  - if @game.is_developer?(current_user)
    = sidebar_list("Manage Game") do
      %li= link_to("Edit Game Info", edit_game_path(@game))