= main_box(@game.name, "gameInfo") do
  .logo= image_tag(@game.logo_url)
  %ul.list
    = list_item("Author", @game.user.name)
    = list_item("Description") do
      :markdown
        #{@game.description}
  .clear

= content_for :sidebar do
  = game_navigation(@game)
  - if @game.is_developer?(current_user)
    = sidebar_list("Manage Game") do
      %li= link_to("Edit Game Info", edit_game_path(@game))