= main_box("Admin Panel", "adminPanel") do
  .columns
    .column.left
      - if current_user.is_admin?
        = admin_link_section("Users") do
          %li= link_to("Users", admin_users_path)
      - if current_user.is_news_editor?
        = admin_link_section("News") do
          %li= link_to("Front Page News", admin_front_page_news_items_path)
    .column.right
      = admin_link_section("Complete Resources") do
        - if current_user.can_approve_resources?
          %li= link_to("Approve Resources", admin_resources_path)
        - if current_user.is_admin?
          %li= link_to("Categories", admin_categories_path)
  .clear