- semantic_form_for @resource, :html => {:multipart => true} do |f|
    - f.inputs do
        = f.input :name
        = f.input :category, :as => :select, :collection => Category.all
        = f.input :res, :as => :file
        = f.input :description, :input_html => {:rows => 5}
    - f.buttons do
        = submit_button("#{image_tag("tick.png")} Submit")