= main_box("Search") do
  = render "search_form"

= main_box("Recent Resources") do
  %ul.resourceList
    = render :partial => "res_list_item", :collection => @resources
  .clear
  = will_paginate @resources

= content_for :sidebar do
  - if user_signed_in?
    - if current_user.is_admin?
      .block
        %h3 Admin
        %ul.navigation
          %li= link_to("Manage Categories", categories_path)
    .block
      %h3 My Resources
      %ul.navigation
        %li= link_to("Upload New Resource", new_resource_path)