= main_box("Search") do
  = render "search_form"

= main_box("Search Results") do
  - if !@resources.empty?
    %ul.resourceList
      = render :partial => "res_list_item", :collection => @resources
    .clear
    = will_paginate @resources
  - else
    %p No resources found.