= main_box(@resource.name) do
  .resource
    = show_resource(@resource)
  .navform.wat-cf
    = favorite_button(@resource)
    = link_to(image_tag("icons/sm/disk.png") + " Download", @resource.res.url, :class => "button")
  %ul.list
    = list_item("Author", @resource.user.name)
    = list_item("Category", category_breadcrumb(@resource.category))
    = list_item("Favorites", @resource.fans.length)
    = list_item("Approved by", @resource.reviewer.name)
    = list_item("Description") do
      :markdown
        #{@resource.description}

= content_for :sidebar do
  - if user_signed_in? && current_user.is_admin?
    .block
      %h3 Admin
      %ul.navigation
        %li= link_to("Edit this Resource", edit_resource_path(@resource))
        %li= link_to("Delete this Resource", resource_path(@resource), :method => :delete, :confirm => "WARNING: This will delete the resource permanently. Are you sure?")
  = render "resources_sidebar"