- semantic_form_for [:admin, @category] do |f|
  = f.inputs do
    = f.input :name
    = f.input :parent
    = f.input :hidden
  - f.buttons do
    = submit_button("#{image_tag("tick.png")} Submit")