- semantic_form_for [:admin, @user] do |f|
  - f.inputs do
    = f.input :email
    = f.input :name
    = f.input :password, :hint => "(leave blank to keep old password)"
    = f.input :password_confirmation
    = f.input :groups, :as => :check_boxes
  - f.buttons do
    = submit_button("#{image_tag("tick.png")} Submit")