!!! XML
!!!
%html
    %head
        %title Charas-Project
        = include_stylesheets :reset, :theme, :theme_mods, :controllers
        = csrf_meta_tag
    %body
        #header
            .logo= image_tag("charas_head.png")
            %h1= link_to("Charas-Project", root_path)
            #user-navigation
                %ul.wat-cf
                    - if user_signed_in?
                        %li= link_to(current_user.name, :action => "edit", :controller => "devise/registrations")
                        %li= link_to("Logout", destroy_user_session_path)
                    - else
                        %li= link_to("Register", new_user_registration_path)
                        %li= link_to("Login", new_user_session_path)
            #main-navigation
                = render "layouts/navigation"
        #wrapper.wat-cf
            = render "layouts/#{controller.sub_layout}"
        = include_javascripts :jquery, :jquery_ui, :jquery_plugins, :application